  .markdown-container p {
    margin-bottom: 12px;
    line-height: 1.6;
    color: rgb(241, 246, 178);
  }
  
  .markdown-container ul, 
  .markdown-container ol {
    margin-left: 24px;
    margin-bottom: 12px;
    color: rgb(238, 247, 239);
  }
  
  .markdown-container li {
    margin-bottom: 4px;
  }
  
  .markdown-container strong {
    font-weight: bold;
  }